* {
    font-family: 'Open Sans', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9db991;
}

label {
    pointer-events: none;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espace {
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 65vw;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1em;
    transition: all .3s;
}

.form-label {
    margin-left: 10px;
    font-size: 1em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-1.6em);
    transform-origin: 0 0;
    transition: all .3s;
}



.form-control {
    padding: 5px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, .02);
    border-radius: 0px;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition: all .5s;
}

.form-control::placeholder {
    color: transparent;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    transform: translate(-0.5em, -3em) scale(.8);
}

.form-group:focus-within {
    transform: scale(1.03, 1.03);
}

button {
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: orange;
}